Handling of inner "=" in Base64 and Base32

Base64 and Base32 implementations may be not conforming to [RFC 4648, Section 3.3](https://datatracker.ietf.org/doc/html/rfc4648#section-3.3) in handling the pad character occurred before the end of the encoded data. The RFC allows to ignore the inner "=" if it was explicitly specified. This was the behavior in uutils coreutils 0.2.2. But in uutils coreutils 0.8.0 they are not ignored, but used for padding even if not at the end of the encoded data.

```console
$ echo -n QQ==Qg==Qw== | base64 -di | hd
00000000  41 42 43                                          |ABC|
00000003
$ echo -n QQQgQw== | base64 -di | hd
00000000  41 04 20 43                                       |A. C|
00000004
```
If they were ignored, you should get t6he same result in both cases.

There is a similar issue with Base32.

```console
$ echo -n IE======II======IM======IQ======IU====== | base32 -d | hd
00000000  41 42 43 44 45                                    |ABCDE|
00000005
$ echo -n IEIIIMIQIU====== | base32 -d | hd
00000000  41 10 84 31 10 45                                 |A..1.E|
00000006
```

The problem is that different Base64 and Base32 decoders produce different result for the same input. This may pose a security risk. The implementation that literally follows RFC 4648 (for example Python after recent change https://github.com/python/cpython/issues/145264) will treat inner "=" as error or ignore it.

I think that Base64 and Base32 decoders should treat "=" before the end of the encoded data as error by default, and have option to ignore them as non-alphabet characters (it can be combined with `-i`). It may also have option for the current behavior, but it should not be default.

This project prefer GNU compatibility. So if you see same issue on GNU, you should raise this to GNU too.

python is a buffer decoder, while base64(1) and basenc(1) are **_stream_** decoders.
The whole point of '=' padding chars is to support concatenation in streams.
I.e. padding at the end can always be inferred, but padding within the stream is important to maintain.
Consider:

```
$ enc() { printf '%s' "$1" | base64 -w0; }
$ { enc A; enc B; } | base64 -d
AB
```

It should be noted that one _can_ have ambiguity in base64, but GNU is careful to flag that. For example `printf TWF=TWE= | base64 -d` will flag an error. I.e all the issues in https://eprint.iacr.org/2022/361.pdf are handled and enforced in the GNU test suite.

This should be closed as invalid

@cakebaker Would you close this issue?